<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Goal Checklist</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="app">
		<div>
			<label for="goal-input">Goal</label>
			<input type="text" id="goal-input" v-model="enteredValue">
			<button id="add-goal-button" @click="addGoal">Add Goal</button>
		</div>
		<ul id="goal-list">
			<li v-for="goal in goals">{{ goal }}</li>
		</ul>
	</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="app.js"></script>
</body>
</html>
